Repository RespiraWorks/Ventilator, pull requests merged in 2020-05, with the labels that each got.

#226 Makes the GUI talk to the controller over the serial port
  .travis.yml
  gui/Dockerfile
  gui/ProjectVentilatorGUI.pro
  gui/RespiraConnectedDevice.h
  gui/connected_device.h
  gui/main.cpp
  utils/decoder.py
  utils/mock-cycle-controller.py
  utils/nanopb_pb2.py
  utils/network_protocol_pb2.py
Labels: GUI, Question

#318 Issue #175: docker push for successful master build
  .circleci/config.yml
Labels: Devops/CI, GUI

#394 Add a temporary band aid for #393 to unbreak the system
  platformio.ini
Labels: High Priority

#395 Declare cmd_ptr_ a volatile pointer to volatile data
  controller/lib/hal/stepper.h
  platformio.ini
Labels: Bug, Controller, High Priority
