Repository RespiraWorks/Ventilator, pull requests merged in 2021-01, with the labels that each got.

#947 Dcs schem sensors aux
  pcb/Ventilator-cache.lib
  pcb/Ventilator.sch
  pcb/alarms.sch
  pcb/cycle_controller.sch
  pcb/driver_solenoid.sch
  pcb/driver_stepper.sch
  pcb/fp-info-cache
  pcb/fpga.sch
  pcb/indicators.sch
  pcb/misc.sch
  pcb/power.sch
  pcb/power_3.3V_LDO.sch
  pcb/power_5V_buck.sch
  pcb/sensor-daughterboards/pressure_mpxv5004dp/fp-lib-table
  pcb/sensor-daughterboards/pressure_mpxv5004dp/pressure_mpxv5004dp-cache.lib
  pcb/sensor-daughterboards/pressure_mpxv5004dp/pressure_mpxv5004dp.kicad_pcb
  pcb/sensor-daughterboards/pressure_mpxv5004dp/pressure_mpxv5004dp.pro
  pcb/sensor-daughterboards/pressure_mpxv5004dp/pressure_mpxv5004dp.sch
  pcb/sensor-daughterboards/pressure_mpxv5004dp/sym-lib-table
  pcb/sensors_o2_temp.sch
  pcb/sensors_pressure.pro
  pcb/sensors_pressure.sch
  pcb/sensors_pressure_daughterboard.pro
  pcb/sensors_pressure_daughterboard.sch
  pcb/sensors_temp_ntc.sch
  pcb/sensors_temp_rtd.sch
  pcb/stm_programmer.sch
  pcb/ui_computer.sch
Labels: Electrical, PCB

#982 v0.3 Enclosure migration
  manufacturing/enclosed_build/enclosure/CAD/IS 2907 - 1961 - 3 x 14 x 8.6.ipt
  manufacturing/enclosed_build/enclosure/CAD/enclosure_assembly.iam
  manufacturing/enclosed_build/enclosure/CAD/equipment_bracket.ipt
  manufacturing/enclosed_build/enclosure/CAD/ventilator_closure_panel.idw
  manufacturing/enclosed_build/enclosure/CAD/ventilator_closure_panel.ipt
  manufacturing/enclosed_build/enclosure/CAD/ventilator_closure_panel.pdf
  manufacturing/enclosed_build/enclosure/CAD/ventilator_closure_panel.stl
  manufacturing/enclosed_build/enclosure/CAD/ventilator_enclosure.ipt
  manufacturing/enclosed_build/enclosure/README.md
Labels: CAD, Mechanical, PRIORITY

#994 Adding PSOL CAD and updating assembly docs
  manufacturing/oxygen/README.md
  manufacturing/oxygen/psol/PVQ31-6G-40-01N.ipt
  manufacturing/oxygen/psol/Uflow IBV19M.ipt
  manufacturing/oxygen/psol/barbed_fitting_1-4_x_1-4ntpm.ipt
  manufacturing/oxygen/psol/barbed_fitting_1-4_x_1-8ntpm.ipt
  manufacturing/oxygen/psol/brass_fitting_1-4ntpf_1-8bsptm.ipt
  manufacturing/purchasing_guidelines.md
Labels: CAD, Mechanical, PRIORITY, Pneumatics

#997 indicators
  pcb/indicators.sch
Labels: Electrical, PCB
