Repository RespiraWorks/Ventilator, pull requests merged in 2021-04, with the labels that each got.

#1086 803:Migrate from valispace
  .github/workflows/docs.yml
  README.md
  docs/Makefile
  docs/README.md
  docs/conf.py
  docs/hardware/hardware_requirements.rst
  docs/hardware/index.rst
  docs/index.rst
  docs/process/index.rst
  docs/process/requirements_management.rst
  docs/software/SRS.rst
  docs/system/covent_19.rst
  docs/system/index.rst
  docs/system/system_requirements.rst
  requirements/README.md
  requirements/system-reqs.pdf
  requirements/system-reqs.xlsx
  requirements/using_valispace.md
  software/controller/lib/debug/images/architecture.png
  software/design/UI_requirements.md
  software/design/milestone_alpha.md
Labels: Documentation, Systems

#1092 Fix Github action for gh-pages - wrong pip install
  .github/workflows/docs.yml
Labels: Documentation

#1093 Remove static checks errors so we can enable them in CI
  .circleci/controller_tests_Dockerfile
  software/.clang-tidy
  software/controller/controller.sh
  software/controller/lib/hal/stepper.cpp
  software/controller/lib/hal/stepper.h
  software/controller/platformio.ini
Labels: Controller code, Devops/CI

#1096 Fix Integration test issues
  software/controller/integration_tests/eeprom_test.h
  software/controller/platformio.ini
Labels: Controller code, Testing
