Repository RespiraWorks/Ventilator, pull requests merged in 2021-03, with the labels that each got.

#1068 Top-level schematic
  .gitignore
  pcb/Ventilator-cache.lib
  pcb/Ventilator.sch
  pcb/alarms.sch
  pcb/battery_balancer.sch
  pcb/battery_charger.sch
  pcb/battery_controller.sch
  pcb/cycle_controller.sch
  pcb/driver_solenoid-cache.lib
  pcb/driver_solenoid.sch
  pcb/driver_stepper.sch
  pcb/fp-info-cache
  pcb/fpga.sch
  pcb/indicators.sch
  pcb/misc.sch
  pcb/power.sch
  pcb/power_3.3V_LDO.sch
  pcb/power_5V_buck.sch
  pcb/power_vsys.sch
  pcb/sensor-daughterboards/pressure_mpxv5004dp/pressure_mpxv5004dp-cache.lib
  pcb/sensor-daughterboards/pressure_mpxv5004dp/pressure_mpxv5004dp.sch
  pcb/sensors_o2_temp.sch
  pcb/sensors_pressure.pro
  pcb/sensors_pressure.sch
  pcb/sensors_pressure_daughterboard.pro
  pcb/sensors_pressure_daughterboard.sch
  pcb/sensors_temp_ntc.sch
  pcb/sensors_temp_rtd.sch
  pcb/stm_programmer.sch
  pcb/system_monitor_adc.sch
  pcb/ui_computer.sch
Labels: Electrical, PCB

#1079 PCB Rev A Floorplanning
  pcb/Ventilator.kicad_pcb
  pcb/Ventilator.net
  pcb/Ventilator.pro
  pcb/Ventilator.sch
  pcb/alarms.sch
  pcb/battery_balancer.sch
  pcb/battery_charger.sch
  pcb/battery_controller.sch
  pcb/cycle_controller.sch
  pcb/driver_solenoid.sch
  pcb/driver_stepper.sch
  pcb/fpga.sch
  pcb/indicators.sch
  pcb/misc.sch
  pcb/power.sch
  pcb/power_3.3V_LDO.sch
  pcb/power_5V_buck.sch
  pcb/power_vsys.sch
  pcb/sensors_o2_temp.sch
  pcb/sensors_pressure.sch
  pcb/sensors_pressure_daughterboard.sch
  pcb/sensors_temp_ntc.sch
  pcb/stm_programmer.sch
  pcb/system_monitor_adc.sch
  pcb/ui_computer.sch
Labels: Electrical

#1090 Explicitly install pio native platform for controller tests to run properly in CI
  .circleci/controller_tests_Dockerfile
Labels: Bug, Devops/CI, PRIORITY

#1083 Access EEPROM through debug interface
  software/controller/lib/debug/README.md
  software/controller/lib/debug/commands.h
  software/controller/lib/debug/debug_types.h
  software/controller/lib/debug/eeprom_cmd.cpp
  software/controller/lib/debug/images/architecture.png
  software/controller/lib/debug/init.cpp
  software/controller/lib/debug/interface.cpp
  software/controller/lib/debug/interface.h
  software/controller/lib/debug/peek_cmd.cpp
  software/controller/lib/debug/poke_cmd.cpp
  software/controller/lib/debug/trace_cmd.cpp
  software/controller/lib/debug/var_cmd.cpp
  software/controller/src/main.cpp
  software/controller/test/debug/eeprom_cmd_test.cpp
  software/controller/test/debug/interface_test.cpp
  software/controller/test/debug/peek_cmd_test.cpp
  software/controller/test/debug/poke_cmd_test.cpp
  software/controller/test/debug/trace_cmd_test.cpp
  software/controller/test/debug/var_cmd_test.cpp
  software/utils/controller_debug.py
Labels: Controller code, Devops/CI, Testing
