Repository RespiraWorks/Ventilator, pull requests merged in 2021-02, with the labels that each got.

#1003 UI Computer
  pcb/ui_computer.sch
Labels: Electrical, PCB

#1004 Cycle controller, RTC swap
  pcb/cycle_controller.sch
  pcb/misc.sch
Labels: Electrical, PCB

#1025 Inceptionev/issue1023 oxygen sensor wiring
  manufacturing/electrical/wiring/README.md
  manufacturing/electrical/wiring/drawings/20210209_oxygen_sensor_cable_drawing.pdf
  manufacturing/electrical/wiring/images/oxygen_sensor_cable.jpg
  manufacturing/electrical/wiring/images/oxygen_sensor_cable_drawing_image.jpg
Labels: Documentation, Electrical

#1036 FPGA connections
  pcb/fpga.sch
Labels: Electrical, PCB

#1033 Stepper driver (2021-02-14)
  pcb/driver_stepper.sch
Labels: Electrical, PCB

#1042 Add control diagram to pneumatics page
  design/pneumatic-system/README.md
  design/pneumatic-system/images/flow_control_diagram_current.png
  design/pneumatic-system/images/flow_control_diagram_proposed.png
Labels: Pneumatics

#1058 Inceptionev/issue1048 1026 v0.3 electrical documentation
  manufacturing/internals/README.md
  manufacturing/internals/display_panel/README.md
  manufacturing/internals/display_panel/electronics/README.md
  manufacturing/internals/display_panel/electronics/images/nucleo_jp5.jpg
  manufacturing/internals/display_panel/electronics/images/pcb_assembly_level1.jpg
  manufacturing/internals/display_panel/electronics/images/pcb_assembly_level2.jpg
  manufacturing/internals/display_panel/electronics/images/pcb_assembly_level3.jpg
  manufacturing/internals/display_panel/electronics/images/pcb_assembly_level4and5.jpg
  manufacturing/wiring/README.md
  manufacturing/wiring/drawings/20210224_blower_control_cable_drawing.pdf
  manufacturing/wiring/drawings/20210224_blower_power_cable_drawing.pdf
  manufacturing/wiring/drawings/20210224_main_power_cable_drawing.pdf
  manufacturing/wiring/drawings/20210224_psol_cable_drawing.pdf
  manufacturing/wiring/images/blower_control_cable.jpg
  manufacturing/wiring/images/blower_control_cable_drawing_image.jpg
  manufacturing/wiring/images/blower_power_cable.jpg
  manufacturing/wiring/images/blower_power_cable_drawing_image.jpg
  manufacturing/wiring/images/main_power_cable.jpg
  manufacturing/wiring/images/main_power_cable_drawing_image.jpg
  manufacturing/wiring/images/main_power_cable_process1.jpg
  manufacturing/wiring/images/main_power_cable_process2.jpg
  manufacturing/wiring/images/main_power_cable_process3.jpg
  manufacturing/wiring/images/oxygen_sensor_cable.jpg
  manufacturing/wiring/images/oxygen_sensor_cable_drawing_image.jpg
  manufacturing/wiring/images/pigtails.jpg
  manufacturing/wiring/images/psol_cable.jpg
  manufacturing/wiring/images/psol_cable_drawing_image.jpg
  manufacturing/wiring/images/stepper_labels.jpg
  pcb/rev1_export/README.md
Labels: Documentation
